
.App {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card {
  width: 35%;
  background: whitesmoke;
  color: slategray;
  border-radius: 5px;
  padding: 2%;
  border: 1px solid black;
  margin: 2%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}

.card .btn {
  border-radius: 5px;
  border: 1px solid black;
  background: slategray;
  color: white;
  padding: 2%;
  width: 50%;
  font-size: 1.3rem;
}

#smurfForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

input {
  margin: 1%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 2rem;
  padding: 2%;
}

.form .btn {
  border-radius: 5px;
  border: 1px solid white;
  background: slategray;
  color: white;
  padding: 2%;
  font-size: 1.3rem;
  width: 40%;
  margin: 2% auto;
}

 .btn:hover{
  cursor: pointer;
  filter: brightness(150%);
}